
/* 🔴 Основной цвет текста — Главная тема */
.text-main {
  color: #CC532A;
}

/* 🟡 Подтема */
.text-sub {
  color: #FFDE4C;
}

/* 🩷 Важный жирный текст */
.text-bold {
  color: #FFC3CD;
  font-weight: bold;
}

/* ⚪️ Стандартный цвет текста */
.text-default {
  color: #FEFAFA;
}

/* 🟢 Успешное выполнение */
.text-success {
  color: #72C580;
}

/* ❤️ Ошибки, предупреждения */
.text-danger {
  color: #CA3141;
}

/* 🔵 Акцент, ссылки */
.text-blue {
  color: #1FAEE9;
}

/* 🟣 Промежуточный результат */
.text-purple {
  color: #684FA3;
}

/* 🟦 Сноски, дополнительный текст */
.text-note {
  color: #4D7198;
}

/* 💖 Яркий эмоциональный акцент */
.text-pink {
  color: #FF1197;
}
